/**
 * Typography & Text styles
 */

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}

/**
 * Links
 */
a {
  font-weight: normal;
  text-decoration: none; 
  color:#EF6D3D;
}
a:focus {
  outline: thin dotted;
}

small {
  font-size: 75%;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
h6 { font-size: 1.4rem; line-height: 1.6;  letter-spacing: 0; }

/**
 * Paragraphs
 */
p {
  margin: 0 auto 1.5em auto; /* bottom margin for paragraphs */
}

/**
 * Quotes & Blockquotes
 */
q {
  quotes: '\00201C' '\00201D';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

blockquote {
  /*background-color: #F8F8F8;*/
  border-left: 2px solid #AFC0D2;
  margin: 1.6em 10%;
  padding: .75em 1em;
  font-size:1.8rem;
}
blockquote p:last-child {
  margin-bottom: 0;  
}

/**
 * Layout styles
 */

/* Full size background image */
html, #container, .inner { background-color:transparent;}
html {
  /* background:url(background.jpg) center center no-repeat fixed; */
  background-image: linear-gradient(to bottom right, rgb(7, 7, 7), rgb(153, 153, 153));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}
body {
  max-width:800px;
  margin:25px auto;
}
header, #content, footer { 
  background: rgba(0, 0, 0, 0.8); 
  padding:25px;
  color:#FFFFFF; 
}

/* Menu Links */
ul.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
}
ul.main-menu li a {
  margin-right:20px;
  font-size:2.0rem;
  border-bottom: solid transparent 3px;
  color:#cfd2da;
}
ul.main-menu li a:hover {
  color:#FFFFFF;
}
ul.main-menu li a.active {
  color:#FFFFFF;
  border-bottom-color:#EF6D3D;
}

/* Utility classes */
.hide {
  display:none;
}
.show {
  display:block;
}

/* Grid */
.grid-container {
  display: grid;
  /* grid-gap: 1px 1px; */
  /* previous working grid-template */
  /* grid-template-columns: repeat(2,1fr); */ 
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  /* grid-auto-rows: minmax(180px, 180px); */
  grid-gap: 30px;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0); */
  /* border: 1px solid rgba(0, 0, 0, 0); */
  /* padding: 10px; */
  text-align: center;
}

.largepng {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.projecthead {
  text-align: center;
  text-decoration: underline;
  text-decoration-color:#EF6D3D;
}

.subHead {
  text-decoration: underline;
  text-decoration-color:#EF6D3D;
}

.methodsHead {
  text-align: center;
  text-decoration: underline;
  text-decoration-color:#EF6D3D;
}

.figcap {
  font-size: x-small;
  text-align: center;
  color: black;
}

.figcaps {
  text-align: center;
  font-size: x-small;
}

.white-box {
  background-color: white;
}

table, th, td {
  border: 1px solid white;
  text-align: center;
}

.big {
  font-size: larger;
  font-weight: bolder;
}

.meIMG {
  max-width: 100%;  /* ensures the image is no wider than the div */
  max-height: 100%; /* ensures the image is no taller than the div */
  height: auto;     /* maintains the aspect ratio of the image */
  display: block;   /* removes any extra space below the image */
  margin: 0 auto;   /* optional: centers the image in the div if the div is wider */
}

.biasHeader {
  text-align: center;
  color:#08adca
}

figure {
  /* Style for the figure element */
  text-align: center; /* Center aligns the image and caption */
  margin: auto; /* Adjusts the margin around the figure */
}

figcaption {
  /* Style for the caption */
  color: #ababab; /* Sets the caption text color */
  margin-top: 8px; /* Spacing between image and caption */
  font-style: italic; /* Makes the caption text italic */
}
